<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <header>
            <div style="width: 100%; height: 50px; background-color: #151717; text-align: center">
                <h1 style="color: #fff; padding-top: 6px">Controle de Contatos</h1>
            </div>
        </header>

        <main>
            <div style="font-family: Arial, sans-serif; font-size: 16px; color: #333;">
                <h2 style="color: #0155a4;">Sua nova senha foi gerada!</h2>

                <p>
                    Olá, @Model.Nome, Uma nova senha foi gerada para sua conta. Por favor, utilize a senha abaixo para acessar o sistema:
                </p>

                <div style="background-color: #f0f0f0; padding: 10px; border-radius: 5px; font-size: 18px; font-weight: bold; text-align: center;">
                    @Model.Senha
                </div>

                <p>
                    <strong style="color: #af1a26">Importante:</strong>
                    Recomendamos que você altere esta senha após o primeiro login por uma senha de sua preferência.
                    Esta senha é temporária e, por segurança, não será mais exibida.
                </p>

                <br>
                
                <p>
                    Se você tiver alguma dúvida, entre em contato com nossa equipe de suporte.
                </p>
            </div>
        </main>
        
        <footer>
            <br>

            <p>Este email foi enviado por <a href="https://github.com/MrBarszcz" style="color: #1f1f21; text-decoration: none; font-weight: bold;">MrBarszcz</a></p>
        </footer>
    </body>
</html>