@model LoginModel

@{
  Layout = "_LayoutDeslogada";
  ViewData[ "Title" ] = "Login";
}

@if (TempData["MessageSuccess"] != null ) {
  <div class="alert alert-success" role="alert">
    <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>

    @TempData["MessageSuccess"]
  </div>
  <br/>
}

@if (TempData["MessageError"] != null ) {
  <div class="alert alert-danger" role="alert">
    <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>

    @TempData["MessageError"]
  </div>
  <br/>
}

<form asp-controller="Login" asp-action="Enter" method="post" id="formularioLogin">
  <div class="mb-3">
    <label for="Login" class="form-label">Login</label>
    <input type="text" asp-for="Login" class="form-control" id="Login">
    
    @Html.ValidationMessageFor( x => x.Login )
  </div>
  <div class="mb-3">
    <label for="Senha" class="form-label">Senha</label>
    
    <div class="password-container">
      <input type="password" asp-for="Senha" class="form-control" id="SenhaLogin">
      
      <i class="bi bi-eye" id="btn-show-SenhaLogin" onclick="showPassword('SenhaLogin', 'btn-show-SenhaLogin')"></i>
    </div>

    @Html.ValidationMessageFor( x => x.Senha )
  </div>
  
  <p class="mb-4 text-sm-center mx-auto">
    Esqueceu a sua senha?
    
    <a asp-action="ResetPassword" asp-controller="Login" class="text-primary text-weight-bold">Redefinir Senha</a>
  </p>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="submit" class="btn btn-primary">Entrar</button>
  </div>
</form>