@model UsuarioModel

@{
    ViewData["Title"] = "Confirmação para Deletar o Usuário";
}

<div class="text-center">
    <h3 class="display-4">Deseja realmente apagar o usuário (@Model.Nome)?</h3>
</div>

<br/>

<div class="d-flex gap-2">
    <a role="button" class="btn btn-danger w-50" asp-controller="Usuario" asp-action="Index">Cancelar</a>

    <a role="button" class="btn btn-primary w-50" asp-controller="Usuario" asp-action="Delete" asp-route-id="@Model.Id">Confirmar</a>
</div>
